{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <h2>Bienvenue sur la page d'accueil</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aut cupiditate earum, esse et ex explicabo facere ipsa minima modi placeat praesentium quibusdam ratione rerum suscipit, ut veritatis voluptatem?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aut cupiditate earum, esse et ex explicabo facere ipsa minima modi placeat praesentium quibusdam ratione rerum suscipit, ut veritatis voluptatem?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aut cupiditate earum, esse et ex explicabo facere ipsa minima modi placeat praesentium quibusdam ratione rerum suscipit, ut veritatis voluptatem?</p>
{% endblock %}